.mainContainer {
    background-image: url('.//Healthcare-logo.jpg '); /* Use your image path */
    background-size:contain; /* Ensure the image stays small */
    background-repeat: no-repeat; /* Don't repeat the image */
    background-position:center; /* Center the image */
    /* Full screen height */
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.8);  
    padding: 20px;
    border-radius: 20px;
    width: 600px; /* Adjust width as necessary */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color:rgb(45, 45, 173); 
   
  }
  
  .head h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }